<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCq5ajTnVT1MygBe4tBwIxwwdSkEPhsRI</string>
	<key>GCM_SENDER_ID</key>
	<string>186953013707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team.aliens.dms.kmp.Dms-Kmp</string>
	<key>PROJECT_ID</key>
	<string>dms-kmp</string>
	<key>STORAGE_BUCKET</key>
	<string>dms-kmp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186953013707:ios:091c915aea97330626fe4e</string>
</dict>
</plist>